[Unit]
Description=My Application Service
After=network.target

[Service]
ExecStart=/home/ec2-user/main
Restart=on-failure
User=laborant
Group=laborant

[Install]
WantedBy=multi-user.target
